@font-face {
  font-family: "game_of_thronesregular";
  src: url("game_of_thrones-webfont.woff2") format("woff2"),
    url("game_of_thrones-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background: #bfbfb6;
}
.got-font {
  font-family: "game_of_thronesregular";
  font-weight: normal;
  font-style: normal;
}

#title_div {
  position: relative;
  align-self: center;
  color: brown;
  text-align: center;
  font-size: 5ex; /* ( ͡° ͜ʖ ͡°) */
}

#header {
  margin-top: 1%;
}

#answers_placeholder {
  text-align: center;
  min-height: 225px;
}

#image_div {
  text-align: center;
}

#image {
  width: 50%;
  height: 50%;
}

#question_placeholder {
  text-align: center;
  background-color: #e6e6da;
  font-size: 25px;
  margin-bottom: 10px;
  width: 70%;
  margin-left: 15%;
  border-radius: 2rem;
}

#question_text {
  padding-left: 5%;
  padding-right: 5%;
}

#image {
  border: 8px solid #ccc;
  border-radius: 20px;
}

.answerButton {
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  border-radius: 20px;
  border: 8px solid #ccc;
  width: 300px;
  height: 75px;
  align-content: center;
  font-size: 17px;
  color: #40403d;
}

.submitButton {
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  border-radius: 20px;
  border: 8px solid #ccc;
  width: 300px;
  min-height: 70px;
  align-content: center;
}

#submit_button_placeholder {
  text-align: center;
}

#progress {
  margin-left: 10%;
  margin-right: 10%;
  height: 1rem;
  background-color: #e6e6da;
  border-radius: 0.5rem;
}

#progressBar {
  border-radius: 0.5rem;
  height: 15px;
  width: 0%;
  transition: 300ms linear;
  color: aqua;
}

#message_div {
  margin-top: 50px;
  text-align: center;
}

#result_title_div {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  background-color: #fffff2;
  border-radius: 2rem;
  width: 70%;
  margin-left: 15%;
  border: 8px solid #ccc;
}

#result_title {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  color: #40403d;
}

#message_div {
  background-color: #e6e6da;
  border: 8px solid #ccc;
  border-radius: 3rem;
  width: 70%;
  margin-left: 15%;
}

#message {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  font-size: 30px;
  color: #40403d;
}
